<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmc.retreat.registration.mapper.RegistrationPrivacyAccessLogMapper">
    <insert id="insert" parameterType="com.gmc.retreat.registration.mapper.RegistrationPrivacyAccessLogInsert">
        INSERT INTO registration_privacy_access_logs (
            registration_id, admin_user_id, access_type, sensitive_fields
        )
        VALUES (
            #{registrationId}, #{adminUserId}, #{accessType}, #{sensitiveFields}
        )
    </insert>
</mapper>
